/* Contacts section */
.book-service-and-contacts {
  height: 644px;
  display: flex;
  background-color: #191c26;
}

.book-service-section {
  width: 55%;
}

.contacts {
  background-image: url(../images/contacts-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* flex-grow: 1; */
  width: 45%;
  color: var(--white-text-color);
  padding: 130px 105px 130px 100px;
}

.contacts-header {
  color: var(--white-text-color);
  font-size: 42px;
  letter-spacing: 2.1px;
}

.contacts-address {
  --address-items-color: #9da4bd;
  /* display: block; */
  margin-top: 40px;
}

.contacts-address-icon {
  /* fill: #9da4bd; */
  stroke: var(--address-items-color);
  fill-opacity: 0;
  margin-right: 16px;
}

.contacts-address-span {
  display: flex;
  align-items: center;
  color: var(--address-items-color);
  font-size: 18px;
  font-style: normal;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contacts-phone {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: var(--address-items-color);
  font-size: 18px;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contacts-mail {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: var(--address-items-color);
  font-size: 18px;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contacts-subtitle-container {
  margin-top: 70px;
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.contacts-schedule {
  color: var(--address-items-color);
  font-size: 18px;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}
