/* Book service and Contacts section */
.book-service-and-contacts {
  /* height: 644px; */
  /* display: flex; */
  background-color: #191c26;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Book service section */
.book-service-section {
  /* width: 55%; */
  /* padding: 130px 40px 0 55px; */
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.book-service-form {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 44px;
}

.book-service-contact-info {
  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
  /* gap: 30px; */
  gap: 44px;
}

.book-service-contact-info-item {
  flex-grow: 1;
  border: none;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background: none;
  color: white;

  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  cursor: pointer;
}

.book-service-textarea {
  resize: none;
}

.form-submit-button {
  margin: 0 auto;
}

.book-service-contact-info-item::placeholder {
  color: rgba(157, 164, 189, 0.4);

  /* font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase; */
}

.book-service-contact-info-item:hover,
.book-service-contact-info-item:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.book-service-contact-info-item:hover::placeholder,
.book-service-contact-info-item:focus::placeholder {
  color: white;
}

/* Contacts section */
.contacts {
  background-image: url(../images/contacts-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* flex-grow: 1; */
  /* width: 45%; */
  color: var(--white-text-color);
  /* padding: 130px 105px 130px 100px; */
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.contacts-header {
  width: fit-content;
  margin: 0 auto;
}

.contacts-address {
  --address-items-color: #9da4bd;
  /* display: block; */
  width: 290px;
}

.contacts-address-icon {
  /* fill: #9da4bd; */
  stroke: var(--address-items-color);
  fill-opacity: 0;
  margin-right: 16px;
}

.contacts-address-span {
  display: flex;
  align-items: center;
  color: var(--address-items-color);
  font-size: 18px;
  font-style: normal;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contacts-phone {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: var(--address-items-color);
  font-size: 18px;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contacts-mail {
  display: flex;
  align-items: center;
  text-decoration: underline;
  color: var(--address-items-color);
  font-size: 18px;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.contacts-subtitle-container {
  margin-bottom: 20px;

  color: var(--white-text-color);
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.contacts-schedule {
  color: var(--address-items-color);
  font-size: 18px;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

@media screen and (width >= 768px) {
  .book-service-contact-info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    gap: 30px;
  }

  .form-submit-button {
    margin: 0;
  }

  .contacts-header {
    margin-left: 0;
  }

  .contacts-working-hours-container {
    display: flex;
    flex-direction: column;
  }
}

.contacts-information-container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-top: 40px;
}

@media screen and (width >= 768px) {
  .contacts-information-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (width >= 1158px) {
  .book-service-section {
    flex-basis: 55%;
  }

  .contacts {
    flex-basis: 45%;
  }

  .book-service-and-contacts {
    display: flex;
  }

  .contacts-information-container {
    flex-direction: column;
    gap: 70px;
  }
}
