/* Footer section */
.footer {
  height: 127px;
  padding: 56px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
}

.footer-trade-mark {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
.footer-social-media-links {
  display: flex;
  gap: 40px;
  margin-left: calc(40px - 20px);
}

.footer-social-media-link {
  color: var(--black-text-color);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}
