/* Footer section */
.footer {
  --padding-vertical: 44px;
  padding: var(--padding-vertical) var(--padding-horizontal-global);
  display: flex;
  gap: 21px;
  flex-wrap: wrap-reverse;
  align-items: center;
  background: #f7f7f7;
}

.footer-trade-mark {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.footer-subtitle-container {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: auto;
}

.footer-social-media-links {
  display: flex;
  gap: 40px;
  margin-left: calc(40px - 20px);
}

.footer-social-media-link {
  color: var(--black-text-color);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}

@media screen and (width >= 768px) {
  .footer {
    --padding-vertical: 56px;
  }
}

@media screen and (width >= 1158px) {
  .footer {
    height: 127px;
    padding: 56px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
  }
}
