.portfolio {
  /* height: 679px; */
  /* padding: 130px 55px; */
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.portfolio-subtitle-container {
  margin-bottom: 44px;
}

.portfolio-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portfolio-images-second {
  margin-top: 30px;
}

.portfolio-images > li > img {
  display: block;
  max-width: 100%;
  /* height: auto; */
  object-fit: cover;
}

@media screen and (width >= 768px) {
  .portfolio-images-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .portfolio-images-second {
    margin-top: 0;
  }
}

@media screen and (width >= 1158px) {
  .portfolio-images {
    flex-direction: row;
  }

  .portfolio-images-container {
    justify-content: center;
    gap: 30px;
  }
}
