/* Services and prices section */
.services-and-prices {
  height: 718px;
  padding: 130px 57px 130px 55px;
  background-image: url(../images/services-and-prices-backround-img.png);
  background-color: #111319;
  color: var(--white-text-color);
  background-repeat: no-repeat;
  background-size: cover;
}

.services-header {
  margin-top: 20px;
  margin-bottom: 46px;
}

.services-and-price-lists {
  display: flex;
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
}

.services-and-price-list {
  padding: 30px 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services-and-price-list-left {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-and-price-list-right {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-and-price-list-item {
  display: flex;
}

.services-and-price-list-divider {
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.services-and-price-button {
  display: block;
  margin: auto;
  margin-top: 48px;
}
