:root {
  --brand-color: #ff6c00;
  /* variabila pentru nuanta textului alb */
  --white-text-color: #ffffff;
  /* variabila pentru nuanta de inchisa a textului */
  --black-text-color: #303030;
  /* culoare gri subtitluri */
  --gray-color: rgba(157, 164, 189, 0.6);
  /* copiat din google fonts */
  --text-font-family: "Open Sans", sans-serif;
  /* copiat din google fonts */
  --header-font-family: "Raleway", sans-serif;
  --content-color: #555;
}

/* Global styles */
body {
  font-family: var(--text-font-family);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Classes */
.social-media-link {
  color: var(--black-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--brand-color);
}

.hero-content {
  /* TOTDO : replace with background image */
  background-color: var(--black-text-color);
  color: var(--white-text-color);
}

.nav-link {
  color: var(--white-text-color);
  font-size: 12px;
  /* aici nu se sterge font style chiar daca se repeta */
  /* numai la paragrafe se sterge deoarece se repeta si nu are nici un efect */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.adress-phone-number {
  color: var(--white-text-color);
  font-size: 12px;
  /* nu se sterge font stile pentru ca altfel scrisul ar fi italic si asa devine normal */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.adress-phone-number:hover,
.adress-phone-number:focus {
  color: var(--brand-color);
}

.book-service-button {
  background: none;
  border-color: var(--brand-color);

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  /* face ca toate literele sa devina scrise cu litere majuscule */
  text-transform: uppercase;
  /* cand pui mouse-ul pe buton apare manuta */
  cursor: pointer;
}

.book-service-button-light {
  color: var(--white-text-color);
}

.book-service-button-dark {
  color: var(--black-text-color);
}

.book-service-button:hover,
.book-service-button:focus {
  color: var(--brand-color);
}

.subtitle {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.subtitle-light {
  color: var(--gray-color);
}

.subtitle-dark {
  color: var(--black-text-color);
}

.hero-header {
  font-family: var(--header-font-family);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;

  color: var(--white-text-color);
}

.header {
  font-family: var(--header-font-family);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

.header-light {
  color: var(--white-text-color);
}

.header-dark {
  color: var(--black-text-color);
}

.hero-control-buttons {
  background: none;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;

  cursor: pointer;
}

.hero-control-buttons-dark {
  color: var(--gray-color);
}

.hero-control-buttons-light {
  color: var(--white-text-color);
}

.about-content-1 {
  color: var(--content-color);
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

.about-content-2 {
  color: var(--content-color);
  font-size: 14px;
  line-height: 26px; /* 185.714% */
  letter-spacing: 0.28px;
}
