:root {
  --brand-color: #ff6c00;
  /* variabila pentru nuanta textului alb */
  --white-text-color: #ffffff;
  /* variabila pentru nuanta de inchisa a textului */
  --black-text-color: #303030;
  /* culoare gri subtitluri */
  --gray-color: rgba(157, 164, 189, 0.6);
  /* copiat din google fonts */
  --text-font-family: "Open Sans", sans-serif;
  /* copiat din google fonts */
  --header-font-family: "Raleway", sans-serif;
  --content-color: #555;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-font-family);
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Classes */
.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
}

.is-hidden {
  visibility: hidden;
}

.container {
  width: 1280px;
  margin: auto;
}

.social-media-link {
  color: var(--black-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--brand-color);
}

.hero-social-media-element:first-child {
  margin-bottom: 40px;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
}

/* header navbar */
.hero-navbar {
  display: flex;
  align-items: center;
}

.nav-link {
  color: var(--white-text-color);
  font-size: 12px;
  /* aici nu se sterge font style chiar daca se repeta */
  /* numai la paragrafe se sterge deoarece se repeta si nu are nici un efect */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--brand-color);
}

.hero-navbar-list {
  display: flex;
  gap: 40px;
}

/* header cta */

.adress-phone-number {
  color: var(--white-text-color);
  font-size: 12px;
  /* nu se sterge font stile pentru ca altfel scrisul ar fi italic si asa devine normal */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.adress-phone-number:hover,
.adress-phone-number:focus {
  color: var(--brand-color);
}

.book-service-button {
  background: none;
  border-radius: 25px;
  border: 1px solid var(--brand-color);
  padding: 12px 0;
  width: 160px;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  /* face ca toate literele sa devina scrise cu litere majuscule */
  text-transform: uppercase;
  /* cand pui mouse-ul pe buton apare manuta */
  cursor: pointer;
}

.book-service-button-light {
  color: var(--white-text-color);
}

.book-service-button-dark {
  color: var(--black-text-color);
}

.book-service-button:hover,
.book-service-button:focus {
  color: var(--white-text-color);
  background-color: var(--brand-color);
}

.hero-header-cta {
  display: flex;
  gap: 40px;
}

.hero-header-address {
  display: flex;
  align-items: center;
}

/* subtitle */
.subtitle-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.subtitle {
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.subtitle-light {
  color: var(--gray-color);
}

.subtitle-dark {
  color: var(--black-text-color);
}

.divider-light {
  fill: var(--gray-color);
}

.divider-dark {
  fill: var(--black-text-color);
}

.header {
  font-family: var(--header-font-family);
  font-size: 42px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.1px;
}

.header-light {
  color: var(--white-text-color);
}

.header-dark {
  color: var(--black-text-color);
}

.book-service-and-contacts {
  display: flex;
}
